// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.btn-primary, .btn-primary:active, .btn-primary:visited {
    background-color: #eef0f1 !important;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    border-color: #eef0f1;
}

.btn-primary:hover {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    border-color: #eef0f1;
}
  

@import "ol/ol.css";

