// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.btn-primary, .btn-primary:active, .btn-primary:visited {
    background-color: #f7f7f7 !important;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    border-color: #f7f7f7;
}

.btn-primary:hover {
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2);
    border-color: #f7f7f7;
}

h1{
    color: #005eae;
}

p{
    color: #1aa7d8;
}


  

@import "ol/ol.css";

